.org-usaid {
  background: no-repeat center url('../img/organizations/usgs.png');
}
.org-redcross {
  background: no-repeat center url('../img/organizations/USDOT.png');

}
.org-msf {
  background: no-repeat center url('../img/organizations/OpenStreetMap_logo.jpg');
}
// .org-brc {
//   background: no-repeat center url('../img/organizations/brc.png');
// }
// .org-wb {
//   background: no-repeat center url('../img/organizations/wb.png');
// }
// .org-bing {
//   background: no-repeat center url('../img/organizations/bing.png');
// }
