/* Color palette */
$red: #d73f3f;
$red-light: #ffeded;
$orange: #faa71e;
$blue-dark: #02317c;
$blue-light: #929db3;
$blue-grey: #68707f;
$grey-light: #e1e0e0;
$tan: #f0efef;
$white: #fff;
$teal: #2b678c;
$gold: #c5b668;